@import "tailwindcss";


@layer base {
:root {
  --primary-50:  #fcf6f0;
  --primary-100: #f7eadd;
  --primary-200: #eed2ba;
  --primary-300: #e3b28e;
  --primary-400: #d78d60;
  --primary-500: #ce7041;
  --primary-600: #bf5a36;
  --primary-700: #9f462f;
  --primary-800: #803a2c;
  --primary-900: #683226;
  --primary-950: #381712;
}
}


